<div class="w-full px-8 py-2 mb-8 border border-b-4 border-black">
  <div class="pt-4 blog-title">
    <p class="text-xl font-bold">How I Create This Blog</p>
  </div>

  <div class="blog-content">
    <p class="py-4">-- To be continue</p>
  </div>
</div>
