---
const {
  url,
  frontmatter: { title, description, author },
} = Astro.props;
---

<div
  class="w-full px-8 py-2 mb-8 border border-black shadow-skew transition ease-in-out bg-white"
>
  <div class="blog-title pt-4">
    <a href={url}>
      {title}
    </a>
  </div>

  <div class="blog-content">
    <p class="pt-2 pb-4 text-md">
      {description}
    </p>
  </div>

  <p class="text-sm text-yellow-600">Oleh: {author}</p>
</div>
