---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 Not Found | andreepratama.dev">
    <main class="flex flex-col w-full h-screen bg-zinc-50 justify-center items-center">
        <div class="max-w-2xl">
            <code>Not Found</code>
        </div>
    </main>
</Layout>
