---
import Layout from '../layouts/Layout.astro'
import '../styles/main.css'
---

<Layout title="About | andreepratama.dev">
    <div class="flex flex-col items-center justify-center w-full bg-zinc-50 h-72 pt-14">
		<div class="max-w-2xl w-full border border-black h-full flex items-center justify-center my-10 border-b-4">
			<p class="text-xl italic font-bold text-center text-zinc-900 custom-font leading-loose">
				"Siapapun kita di dunia, sambal belacan jangan lupa."
			</p>
		</div>
	</div>
    <div class="flex flex-col h-screen bg-zinc-50">
        <div class="max-w-2xl pt-4 mx-auto">

            <div class="mb-10 link">
                <div class="pb-4 text-left link-title">
                    <div class="w-20 pb-2 text-2xl border-b-4 border-black">
                        .Link
                    </div>
                </div>

                <div class="pl-4 link-content">
                    <ul class="list-disc list-item">
                        <li class="pb-2">
                            Twitter: <a class="text-blue-400" href="https://twitter.com/andreepratamaa">@andreepratamaa</a>
                        </li>
                        <li class="pb-2">
                            Instagram: <a href="https://instagram.com/andreepratamaa_" class="text-blue-400">andreepratama_</a>
                        </li>
                        <li class="pb-2">
                            Github: <a href="https://github.com/andreepratama27" class="text-blue-400">andreepratama27</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="about">
                <div class="pb-4 text-left about-title">
                    <div class="w-40 pb-2 text-2xl border-b-4 border-black">
                        .CurrentState
                    </div>
                </div>

                <div class="about-content">
                    <p class="leading-7 mb-4">
                        Hi, I'm Andre.
                        Currently I working with my team to build stock stream app for Malaysia in <strong>Stockbit</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>