---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About | andreepratama.dev">
    <div class="flex flex-col h-screen bg-zinc-50">
        <div class="max-w-2xl pt-4 mx-auto">

            <div class="mb-10 link">
                <div class="pb-4 text-left link-title">
                    <div class="w-20 pb-2 text-2xl border-b-4 border-black">
                        Link
                    </div>
                </div>

                <div class="pl-4 link-content">
                    <ul class="list-disc list-item">
                        <li class="pb-2">
                            Twitter: <a class="text-blue-400" href="https://twitter.com/andreepratamaa">@andreepratamaa</a>
                        </li>
                        <li class="pb-2">
                            Instagram: <a href="https://instagram.com/andreepratamaa_" class="text-blue-400">andreepratama_</a>
                        </li>
                        <li class="pb-2">
                            Github: <a href="https://github.com/andreepratama27" class="text-blue-400">andreepratama27</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="about">
                <div class="pb-4 text-left about-title">
                    <div class="w-20 pb-2 text-2xl border-b-4 border-black">
                        Job
                    </div>
                </div>

                <div class="about-content">
                    <p class='leading-7'>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eligendi voluptatibus delectus itaque perspiciatis assumenda architecto illum. A repellat doloremque necessitatibus perferendis. Est molestias qui beatae ratione cum, at temporibus?
                    </p>

                    <br />

                    <p class="leading-7">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odit doloribus possimus labore! Ducimus, nam, officiis blanditiis laborum fugiat minus quia aspernatur quo aliquam perferendis voluptatum fugit est maxime ullam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>