---
import Layout from "../layouts/Layout.astro";
import Motto from "../pages/Motto.astro";
---

<Layout title="About | andreepratama.dev">
  <Motto />
  <div class="flex flex-col h-screen" id="container">
    <div class="max-w-2xl pt-4 mx-auto">
      <div class="mb-10 link">
        <div class="pb-4 text-left link-title">
          <div class="w-20 pb-2 text-2xl bold-underline border-b-4">.Link</div>
        </div>

        <div class="link-content">
          <ul class="list-none list-item">
            <li class="pb-2 flex items-center mb-2">
              <div class="icon mr-2">
                <img src="/twitter.png" class="w-5 h-5" alt="" />
              </div>
              Twitter: <a
                class="text-blue-400"
                href="https://twitter.com/andreepratamaa"
                >@andreepratamaa
              </a>
            </li>
            <li class="pb-2 flex items-center mb-2">
              <div class="icon mr-2">
                <img src="/instagram.png" class="w-5 h-5" alt="" />
              </div>
              Instagram: <a
                href="https://instagram.com/andreepratamaa_"
                class="text-blue-400"
                >andreepratama_
              </a>
            </li>
            <li class="pb-2 flex items-center">
              <div class="icon mr-2">
                <img src="/github.png" class="w-5 h-5" alt="" />
              </div>
              Github: <a
                href="https://github.com/andreepratama27"
                class="text-blue-400"
                >andreepratama27
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="about">
        <div class="pb-4 text-left about-title">
          <div class="w-40 pb-2 text-2xl border-b-4 bold-underline">
            .CurrentState
          </div>
        </div>

        <div class="about-content">
          <p class="leading-7 mb-4">
            Hi, I'm Andre. Currently working at <strong>Stockbit</strong> to build
            web based Stocks App for Malaysia users.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
