---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Blog | andreepratama.dev">
	<main class="flex flex-col w-full h-screen items-center justify-center bg-zinc-50">
        <p class="text-lg text-center">
            Sedang Dibangun...
        </p>
    </main>
</Layout>