---
import Layout from '../layouts/Layout.astro'
import BlogList from '../components/BlogList'
---

<Layout title="Blog | andreepratama.dev">
	<main class="flex flex-col items-center w-full bg-zinc-50 pt-10">
		<div class="max-w-2xl py-14">
			{
				Array(10).fill('').map(item => (
					<BlogList />
				))
			}
		</div>
	</main>
</Layout>