---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css"
---
<Layout title="andreepratama.dev">
	<main class="flex flex-col items-center justify-center w-full min-h-screen bg-zinc-50">
		<div class="max-w-2xl">
			<p class="text-xl italic font-bold text-center text-zinc-900 custom-font">
				"Siapapun kita di dunia, sambal belacan jangan lupa."
			</p>
		</div>
	</main>
</Layout>