---
import Layout from "../layouts/Layout.astro";
---
<Layout title="andreepratama.dev">
	<main class="flex flex-col w-full h-screen items-center justify-center bg-zinc-50">
		<p class="font-bold text-zinc-900 text-xl italic text-center custom-font">
			"Siapapun kita di dunia, sambal belacan jangan lupa."
		</p>
	</main>
</Layout>

<style>
	.custom-font {
		font-family: 'Press Start 2P';
	}
</style>