---
import Layout from "../layouts/Layout.astro";

const portfolios = [
  { title: "Buka Whatsapp", link: "https://bukawhats.app" },
  { title: "Quran Indo", link: "https://quran-indo.andreepratama.dev" },
  { title: "Doa Harian", link: "https://doa-harian.andreepratama.dev" },
  { title: "Personal Website", link: "/" },
];
---

<Layout title="Showcase | andreepratama.dev">
  <main class="flex flex-col w-full mt-24 max-w-2xl mx-auto md:px-0 px-4">
    <p class="title text-xl">Current Showcase</p>
    <div class="divider w-20 h-1 bg-black mt-2"></div>

    <section
      class="showcase-grid mt-8 grid md:grid-cols-2 sm:grid-cols-1 gap-6"
    >
      {
        portfolios.map((item) => (
          <div class="w-full h-48 border border-black shadow-skew relative bg-red-100 flex items-center justify-center">
            <div class="content-center relative bottom-4 bg-violet-700 shadow-skew p-2 px-4">
              <a
                href={item.link}
                class="text-white text-sm hover:border-dashed hover:border-b-2"
                target="_blank"
              >
                Visit Link
              </a>
            </div>

            <div class="grid-title absolute bottom-0 w-full bg-gray-900 p-2 opacity-90">
              <p class="text-white">{item.title}</p>
            </div>
          </div>
        ))
      }
    </section>
  </main>
</Layout>
