---
import Logo from "./Logo";
---

<nav
  class="w-full px-3 py-6 fixed navbar-fixed bg-white border-b-2 border-gray-900"
>
  <div
    class="flex flex-wrap items-center justify-between max-w-2xl mx-auto layout nav-wrapper"
  >
    <div class="brand font-semi">
      <Logo />
    </div>
    <div class="menu">
      <ul class="flex gap-4">
        <li
          class="px-4 py-1 border shadow-skew border-black transition ease-in-out"
        >
          <a href="/blog" class="text-sm p-0">.Blog</a>
        </li>
        <li
          class="px-4 py-1 border shadow-skew border-black transition ease-in-out"
        >
          <a href="/showcase" class="text-sm p-0">.Showcase</a>
        </li>
        <!-- <li
          class="px-4 py-1 shadow-skew border border-black transition ease-in-out"
        >
          <a href="/about" class="text-sm">.AboutMe</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<style>
  @media (max-width: 470px) {
    .menu {
      /* display: none; */
    }
  }
</style>
