<div class="flex flex-col items-center justify-center w-full h-72 pt-14">
  <div
    class="max-w-2xl w-full border border-black shadow-skew h-full flex items-center justify-center my-10 border-b-4 bg-white"
  >
    <p
      class="text-xl italic font-bold text-center text-zinc-900 custom-font leading-loose"
    >
      "Siapapun kita di dunia, sambal belacan jangan lupa."
    </p>
  </div>
</div>
